html .elastic-control10
{
    font-size: 10px !important;
}

html .elastic-control12
{
    font-size: 12px;
}

html .elastic-control14
{
    font-size: 14px;
}

html .elastic-control16
{
    font-size: 16px;
}

html .elastic-control18
{
    font-size: 18px;
}

html .elastic-control20
{
    font-size: 20px;
}